RewriteEngine On
RewriteBase /
# Pour les requêtes simples comme /test
RewriteRule ^test$ test.php [L]

# Pour les requêtes du type /demande/{...}
RewriteRule ^([a-zA-Z]+)/(.+)$ projet.php?table=$1&champs=$2 [B,L]
